.label-title-tab .title-tab {
  float: left;
  color: #666;
  padding: 6px;
  margin-bottom: 7px;
  margin-right: 10px;
  border: #f4f4f4 solid 1px;
  border-radius: 3px; }

.label-title-tab .title-tab:hover, .label-title-tab .active {
  color: #ff4848;
  border: #ff4848 solid 1px; }

.list-box {
  background-color: #fff;
  padding: 15px 20px 0;
  margin-bottom: 20px; }
  .list-box p {
    padding-bottom: 15px;
    font-size: 20px;
    color: #333; }

.list-box ul {
  margin-right: -10px;
  margin-bottom: -20px; }
  .list-box ul li {
    float: left;
    width: 268px;
    height: 298px;
    margin-right: 10px;
    margin-bottom: 20px;
    border: #edeef0 solid 1px;
    background-color: #fafcff; }
    .list-box ul li a .con-text {
      color: #333;
      font-size: 16px;
      padding-left: 10px;
      padding-right: 10px;
      width: 248px;
      height: 50px;
      line-height: 25px;
      margin-top: 15px;
      overflow: hidden; }
    .list-box ul li .con-evaluate {
      padding-left: 10px;
      padding-right: 10px;
      margin-top: 20px;
      width: 248px;
      color: #48c9b0; }
      .list-box ul li .con-evaluate .ping {
        margin-left: 15px; }
  .list-box ul li img:hover {
    opacity: .8;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80); }

.Commodities {
  background-color: #fff;
  margin-bottom: 20px; }
  .Commodities p {
    color: #333;
    font-size: 20px;
    padding: 15px 20px 15px;
    margin-bottom: 15px;
    border-bottom: #f4f4f4 solid 1px; }
  .Commodities .goods-box {
    padding: 0 20px 20px; }
    .Commodities .goods-box .goods-img {
      margin-right: 10px; }
      .Commodities .goods-box .goods-img img {
        width: 60px;
        height: 60px; }
      .Commodities .goods-box .goods-img img:hover {
        opacity: .8;
        -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80); }
    .Commodities .goods-box .goods-txt {
      width: 200px;
      color: #999; }
      .Commodities .goods-box .goods-txt a {
        color: #999; }
      .Commodities .goods-box .goods-txt a:hover {
        color: #48c9b0; }
      .Commodities .goods-box .goods-txt .goods-txt-name {
        width: 200px;
        margin-top: 2px;
        margin-bottom: 8px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden; }
      .Commodities .goods-box .goods-txt .goods-txt-time {
        margin-bottom: 8px; }

.Profile {
  background-color: #fff; }
  .Profile .Profile-top {
    padding: 25px 20px 30px 30px;
    border-bottom: #f4f4f4 solid 1px; }
    .Profile .Profile-top .pro-box-up {
      margin-bottom: 20px; }
  .Profile p {
    color: #999;
    line-height: 24px; }
  .Profile .Profile-bottom {
    padding: 30px 30px 0; }
    .Profile .Profile-bottom p {
      padding-bottom: 25px; }
      .Profile .Profile-bottom p strong {
        color: #333;
        font-size: 20px;
        font-weight: normal; }

.up-left {
  width: 665px;
  color: #999;
  font-size: 14px; }

.particular {
  margin-bottom: 30px; }
  .particular .particular-img {
    margin-right: 15px; }
    .particular .particular-img img {
      width: 80px;
      height: 80px; }
  .particular .particular-txt h6 {
    color: #333;
    font-size: 16px;
    line-height: 30px; }
  .particular .particular-txt div {
    line-height: 24px; }

.support {
  float: left; }
  .support li {
    margin-bottom: 6px;
    margin-right: 25px; }

.up-right {
  color: #666;
  text-align: center; }
  .up-right img {
    width: 120px;
    height: 120px;
    margin-bottom: 15px; }
