{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block title %}
<title>首页</title>
{% endblock %}
{% block banner %}
<!-- banner -->
<div class="banner">
        <div class="container">
            <div class="banner-navigation">
                    <div class="logo">
                        <a href="{% url 'love:index' %}"><h1>Wed<span> Day</span></h1></a>
                    </div>
                    <span class="menu"></span>
                        <div class="top-menu">
                                <ul class="nav">
                                    <li class="hvr-sweep-to-bottom cap"><a href="{% url 'love:index' %}" {% if page == 'home' %}style="text-decoration: underline;"{% endif %}>Home</a></li>
                                    <li class="hvr-sweep-to-bottom"><a href="about.html" {% if page == 'about' %}style="text-decoration: underline;"{% endif %}>About</a></li>
                                    <li class="hvr-sweep-to-bottom"><a href="moments.html" {% if page == 'moment' %}style="text-decoration: underline;"{% endif %}>Big Moments</a></li>
                                    <li class="hvr-sweep-to-bottom"><a href="contact.html" {% if page == 'contact' %}style="text-decoration: underline;"{% endif %}>Contact Us</a></li>
                                    <li class="hvr-sweep-to-bottom"><a href="{% url 'love:comment' %}" {% if page == 'comment' %}style="text-decoration: underline;"{% endif %}>留言</a></li>
                                {% if user.is_authenticated %}
                                <li style="color:white">{{user}}</li>
                                <li class="hvr-sweep-to-bottom"><a href="{% url 'love:logout' %}" {% if page == 'contact' %}style="text-decoration: underline;"{% endif %}>注销</a></li>
                                {% else %}
                                <li class="hvr-sweep-to-bottom"><a href="{% url 'love:login' %}" {% if page == 'signin' %}style="text-decoration: underline;"{% endif %}>登录</a></li>
                                {% endif %}
                                </ul>
                                <div class="clearfix"></div>
                        </div>
                    <!--script-for-menu-->
                                <script>
                                $("span.menu").click(function(){
                                    $(".top-menu ul").slideToggle("slow" , function(){
                                    });
                                });
                                </script>
                    <!--script-for-menu-->

                <div class="clearfix"></div>
            </div>
                <div  id="top" class="callbacks_container">
                    <ul class="rslides" id="slider4">
                            <li>
                                <div class="banner-info">
                                    <h3>Michael <lable>&</lable> Annie</h3>
                                    <p>Aug 30TH, 2015</p>
                                </div>
                            </li>
                            <li>
                                <div class="banner-info">
                                
                                    <h3>David <lable>&</lable> Mary</h3>
                                    <p>Nov 10TH, 2015</p>
                                </div>
                            </li>
                            <li>
                                <div class="banner-info">
                                    <h3>Adams <lable>&</lable> Eve</h3>
                                    <p>Mar 30TH, 2016</p>
                                </div>                              
                            </li>
                         </ul>
                    </div>
                    <!--- banner Slider starts Here --->
                <script src="{% static "js/responsiveslides.min.js" %}"></script>
             <script>
                // You can also use "$(window).load(function() {"
                $(function () {
                  // Slideshow 4
                  $("#slider4").responsiveSlides({
                    auto: true,
                    pager: true,
                    nav: true,
                    speed: 500,
                    namespace: "callbacks",
                    before: function () {
                      $('.events').append("<li>before event fired.</li>");
                    },
                    after: function () {
                      $('.events').append("<li>after event fired.</li>");
                    }
                  });
            
                });
              </script>
            <!----//End-slider-script---->
        </div>
    </div>
<!--//banner-->
{% endblock %}
{% block main %}
	<!--/welcome-->
	<div class="welcome-section">
		<div class="container">
		   <h2>Welcome Everyone</h2>
		   <p>Maecenas ornare lobortis mi id dapibus. Sed magna leo, malesuada in luctus ut, Sed magna leo, malesuada in luctus ut convallis nec sapien. Nulla rhoncus, nunc sollicitudin sodales elementum, augue nunc congue tellus, a varius urna odio vitae mauris. Aenean ultricies porttitor dui quis laoreet.</p>
			<div class="welcome-grids">
			<ul class="ch-grid">
					<li>
						<div class="col-md-6 ch-item ch-img-1">				
							<div class="ch-info-wrap">
								<div class="ch-info">
									<div class="ch-info-front ch-img-1"></div>
									<div class="ch-info-back">
										<h4>Michael</h4>
										<h5>Groom</h5>
									</div>	
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="col-md-6 ch-item ch-img-2">
							<div class="ch-info-wrap">
								<div class="ch-info">
									<div class="ch-info-front ch-img-2"></div>
									<div class="ch-info-back">
										<h4>Annie</h4>
										<h5>Bride</h5>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
    <div class="copyrights">Collect from <a href="http://www.cssmoban.com/" >企业网站模板</a></div>
	<div class="story-section">
		<div class="container">
		       <h3>Our Love Stories</h3>
			<div class="story-grids">
				<div class="col-md-4 story-grid">
					 <img src="{% static "images/story1.jpg" %}" class="img-responsive" alt="" />
					 <h4>WE' VE MET</h4>
					<p>Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Lorem ipsum dolor sit amet,…</p>
				</div>
				<div class="col-md-4 story-grid">
					 <img src="{% static "images/story2.jpg" %}" class="img-responsive" alt="" />
					 <h4>FIRST DATE</h4>
					<p>Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Lorem ipsum dolor sit amet,…</p>
				</div>
				<div class="col-md-4 story-grid">
					 <img src="{% static "images/story3.jpg" %}" class="img-responsive" alt="" />
					 <h4>ENGAGEMENT</h4>
					<p>Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Lorem ipsum dolor sit amet,…</p>
				</div>
				<div class="clearfix"></div>
		   </div>
		</div>
	</div>
<!--/event-section-->
       <div class="event-section">
		<div class="container">
		    <h3>Our Events Schedule</h3>
			<div class="event-grids">
				<div class="col-md-4 event-grid">
					 <img src="{% static "images/e1.jpg" %}" class="img-responsive" alt="" />
					 <h4>ENGAGEMENT</h4>
					<p>Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Lorem ipsum dolor sit amet,…</p>
					<span class="event-date">Aug 30th <span class="event-year">2015</span></span>
				</div>
				<div class="col-md-4 event-grid">
					 <img src="{% static "images/e2.jpg" %}" class="img-responsive" alt="" />
					 <h4>WEDDING CEREMONY</h4>
					<p>Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Lorem ipsum dolor sit amet,…</p>
					<span class="event-date">Sep 14th <span class="event-year">2015</span></span>
				</div>
				<div class="col-md-4 event-grid lost">
					 <img src="{% static "images/e3.jpg" %}" class="img-responsive" alt="" />
					 <h4>WEDDING RECEPTION</h4>
					<p>Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Lorem ipsum dolor sit amet,…</p>
					<span class="event-date">Dec 14th <span class="event-year">2015</span></span>
				</div>
				<div class="clearfix"></div>
		   </div>
		</div>
	</div>
{% endblock %}
