{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block title %}
<title>留言</title>
{% endblock %}
{% block custom_css%}
<style>
#Choco_left_arrow{
    float:left;
    background-image:url(/images/left.gif);
    background-position:12%;
    left:-14%;
}
</style>
{% endblock %}
{% block main %}
<script src="{% static "js/jquery.chocolat.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/chocolat.css" %}" type="text/css" media="screen" charset="utf-8" />
    <!--light-box-files -->
    <script type="text/javascript" charset="utf-8">
    $(function() {
        $('.moments-bottom a').Chocolat();
    });
    </script>
<!--moments-starts--> 
<div class="moments">
    <div class="container">
            <h3>Big Moments</h3>
        <div class="moments-bottom">
                <div class="col-md-4 moments-left">
                    <a href="{% static "images/g1.jpg" %}">
                        <img src="{% static "images/g1.jpg" %}" alt="name" />
                    </a>
                </div>
                <div class="col-md-4 moments-left">
                    <a href="{% static "images/g2.jpg" %}">
                        <img src="{% static "images/g2.jpg" %}" alt="name" />
                    </a>
                </div>
                <div class="col-md-4 moments-left">
                    <a href="{% static "images/g3.jpg" %}">
                        <img src="{% static "images/g3.jpg" %}" alt="name" />
                    </a>
                </div>
                <div class="col-md-4 moments-left">
                    <a href="{% static "images/g4.jpg" %}">
                        <img src="{% static "images/g4.jpg" %}" alt="name" />
                    </a>
                </div>
                <div class="col-md-4 moments-left">
                    <a href="{% static "images/g6.jpg" %}">
                        <img src="{% static "images/g6.jpg" %}" alt="name" />
                    </a>
                </div>
                <div class="col-md-4 moments-left">
                    <a href="{% static "images/g5.jpg" %}">
                        <img src="{% static "images/g5.jpg" %}" alt="name" />
                    </a>
                </div>
                <div class="col-md-4 moments-left">
                    <a href="{% static "images/g1.jpg" %}">
                        <img src="{% static "images/g1.jpg" %}" alt="name" />
                    </a>
                </div>
                <div class="col-md-4 moments-left">
                    <a href="{% static "images/g2.jpg" %}">
                        <img src="{% static "images/g2.jpg" %}" alt="name" />
                    </a>
                </div>
                <div class="col-md-4 moments-left">
                    <a href="{% static "images/g3.jpg" %}">
                        <img src="{% static "images/g3.jpg" %}" alt="name" />
                    </a>
                </div>
                <div class="clearfix"></div>
        </div>
    </div>
</div>  
{% endblock %}