{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block title %}
<title>登陆</title>
{% endblock %}
{% block main %}
<!--/signup-section-->
	<div class="signup-section">
		<div class="container">
		 <h3>Signup Page</h3>
	      <div class="login-signup-form">
				<div class="col-md-6 login text-center">
					<h4>登陆</h4>
					<form class="form-horizontal" action="" method="post">  
			            {% csrf_token %}  
					<div class="cus_info_wrap">
						<label class="labelTop">
						用户名:
						<span class="require">*</span>
						</label>
						{{form.username}}
						<p>{{ form.username.errors.as_text }}</p>
					</div>
					<div class="clearfix"></div>
					<div class="cus_info_wrap">
						<label class="labelTop">
						密码:
						<span class="require">*</span>
						</label>
						{{form.password}}
						<p>{{ form.password.errors.as_text }}</p>
					</div>
					<div class="clearfix"></div>
					<div class="sky-form">
				</div>
				<div class="botton1">
					<input type="submit" value="登陆" class="botton">
				</div>
		 {% if password_is_wrong %}  
        <div class="alert alert-error">  
            <span style="color:#00B198">用户名或密码错误</span>
        </div>  
        {% endif %} 
			        </form>  
				</div>
				<form class="form-horizontal" action="{% url 'love:regist' %}" method="post">  
				{% csrf_token %}
				<div class="col-md-6 sign-up text-center">
					<h4>注册</h4>
					<div class="cus_info_wrap">
						<label class="labelTop">
						用户名:
						<span class="require">*</span>
						</label>
						{{register_form.username}}
						<p>{{ register_form.username.errors.as_text }}</p>
					</div>
					<div class="clearfix"></div>
				    <div class="cus_info_wrap">
						<label class="labelTop">
						密码:
						<span class="require">*</span>
						</label>
						{{register_form.password}}
						<p>{{ register_form.password.errors.as_text }}</p>
					</div>
					<div class="clearfix"></div><div class="cus_info_wrap">
						<label class="labelTop confirmpass">
						确认密码:
						<span class="require">*</span>
						</label>
						{{register_form.confirm_password}}
						<p>{{ register_form.confirm_password.errors.as_text }}</p>
					</div>
					<div class="botton1 two">
					<input type="submit" value="注册" class="botton">
				    </div>
					{{register_form.non_field_errors.as_text}}
				</div>
				</form> 
				<div class="clearfix"></div>
			</div>
		</div>
</div>
{% endblock %}